{% load static %}
<div class="webbody site-section section-2" id="project-section">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 mb-5" align="center">
                <h2 class="section-title">Projects</h2>
                <p class="para" style="font-size:1.3rem">The club gives wide range of exposure when it comes to
                    practical
                    gain of knowledge. And therefore we believe in conducting regular club activity to help each member
                    groom
                    and nurture well. Some of which are mentioned below:</p>
            </div>


        </div>

    </div>

    <div class="container">

        <div class="owl-carousel nonloop-block-14 carooo">

            <div class="project">
                <div class="caroimage">
                    <img src="images/hexapod.jpg" alt="">
                </div>

                <div class="carocontent">
                    <span class="flaticon-stationary-bike display-3 text-white mb-4 d-inline-block"></span>
                    <h3>Hexapod</h3>

                    <p>It was built using 3D printed parts.Each<br> of it's leg has three Servo motors, head and <br>
                        tail
                        also has a Servo motor.It is able to <br> Crawl in different terrains.</p>
                </div>
            </div>

            <div class="project">
                <div class="caroimage">
                    <img src="images/dancing.jpg" alt="">
                </div>

                <div class="carocontent">
                    <span class="flaticon-stationary-bike display-3 text-white mb-4 d-inline-block"></span>
                    <h3>Dancing Robot</h3>

                    <p> It was made for teaching purpose. <br> Different dance patterns were observed.</p>
                </div>
            </div>

            <div class="project">
                <div class="caroimage">
                    <img src="images/pid.jpg" alt="">
                </div>

                <div class="carocontent">
                    <span class="flaticon-stationary-bike display-3 text-white mb-4 d-inline-block"></span>
                    <h3>PID Controller</h3>

                    <p>A robot that follows a line against a contrasting background by implementing Proportional
                        Integral
                        Derivative (PID) algorithm. It can traverse immensely complex networks that otherwise would be a
                        nightmare if manually done.</p>
                </div>
            </div>

            <div class="project">
                <div class="caroimage">
                    <img src="images/roboarm.jpg" alt="">
                </div>

                <div class="carocontent">
                    <span class="flaticon-stationary-bike display-3 text-white mb-4 d-inline-block"></span>
                    <h3>Robotic Arm</h3>

                    <p>It is made using self designed 3D printed parts and has 3 degrees of freedom.</p>
                </div>
            </div>

            <div class="project">
                <div class="caroimage">
                    <img src="images/maze.jpg" alt="">
                </div>

                <div class="carocontent">
                    <span class="flaticon-stationary-bike display-3 text-white mb-4 d-inline-block"></span>
                    <h3>Maze Solver</h3>

                    <p>Using PID Controlled motion and Path planners it scans the whole arena and then it finds the
                        shortest
                        path using a particular algorithm.</p>
                </div>
            </div>

            <div class="project">
                <div class="caroimage">
                    <img src="images/badmin.jpg" alt="">
                </div>

                <div class="carocontent">
                    <span class="flaticon-stationary-bike display-3 text-white mb-4 d-inline-block"></span>
                    <h3>Badminton Bot</h3>

                    <p>Badminton is a dynamic sport and <br> therefore only advanced concepts and technologies are in
                        order to
                        realize a badminton robot. Based on many projects with industrial partners.</p>
                </div>
            </div>

            <div class="project">
                <div class="caroimage">
                    <img src="images/pickandplace.jpg" alt="">
                </div>

                <div class="carocontent">
                    <span class="flaticon-stationary-bike display-3 text-white mb-4 d-inline-block"></span>
                    <h3>Pick and Place</h3>

                    <p>It was built using 3D printed parts and controlled by Servo motors. It was able to pick a tennis
                        ball.
                    </p>
                </div>
            </div>

            <div class="project">
                <div class="caroimage">
                    <video src="images/snake.mp4" autoplay=true muted=true loop=true poster="posterimage.jpg">

                    </video>
                </div>

                <div class="carocontent">
                    <span class="flaticon-stationary-bike display-3 text-white mb-4 d-inline-block"></span>
                    <h3>Snake Robot</h3>

                    <p>We have Fabricated a snake type robot <br> with 12 Servo motors and implemented sine and cosine
                        waves
                        to see Serpentile and Rectilinear motion.</p>
                </div>
            </div>

            <div class="project">
                <div class="caroimage">
                    <img src="images/wallfollower.jpg" alt="">
                </div>

                <div class="carocontent">
                    <span class="flaticon-stationary-bike display-3 text-white mb-4 d-inline-block"></span>
                    <h3>Wall Follower</h3>

                    <p>It is a simple project made with the help of sensors.</p>
                </div>
            </div>

            <div class="project">
                <div class="caroimage">
                    <img src="images/quadruped.jpg" alt="">
                </div>

                <div class="carocontent">
                    <span class="flaticon-stationary-bike display-3 text-white mb-4 d-inline-block"></span>
                    <h3>Quadruped Robot</h3>

                    <p>It has been fabricated using 3D printed Parts.It consists of 12 Servo Motors.</p>
                </div>
            </div>

            <div class="project">
                <div class="caroimage">
                    <img src="images/surveillance.jpg" alt="">
                </div>

                <div class="carocontent">
                    <span class="flaticon-stationary-bike display-3 text-white mb-4 d-inline-block"></span>
                    <h3>Survelliance Robot</h3>

                    <p>Built a robot car with an On-board pan-tilt camera, which sends live video feeds to the webpage
                        and the
                        bot can be controlled using the web interface.</p>
                </div>
            </div>

            <div class="project">
                <div class="caroimage">
                    <img src="images/selfbalance1.jpeg" alt="">
                </div>

                <div class="carocontent">
                    <span class="flaticon-stationary-bike display-3 text-white mb-4 d-inline-block"></span>
                    <h3>Self Balancing Robot</h3>

                    <p>It was made using 3D printed parts, <br> Stepper motors, ATmega IC and MPU6050. The main concept
                        behind
                        the self balancing bot was in the code. </p>
                </div>
            </div>


        </div>
    </div>
</div>