{% load static %}
<section class="webbody" id="aboutus">

    <div class="aboutus" id="aboutus-section">



        <div class="backkk">

            <div class="about1234">

                <h2 class="section-title121">About US</h2>
                <p>The Robotics Club of IIITDM Jabalpur is a fraternity, not just a group but a faction of such students
                    whose passions dwell in beholding wires and metal beget a machine that has a brain of its own.</p>
                <p>It's here, that seeds of lecturing are sown by those experienced and erudite, nurtured by the
                    interested
                    and novice , pruned by minute yet unprecedented errors and harvested in competitions all over India.
                    The
                    Club offers indispensible guidance, workshops and tutorials along with tools, equipments, components
                    and
                    workspace. The family meets periodically to discuss over matters such as the management of the
                    workspace,
                    workshops, projects and competitions. We welcome anyone, with or without prior knowledge, who wishes
                    to be
                    a part of this fraternity. There are no pre-requisites to join because we have members that believe
                    in the
                    transfer of knowledge, especially that which concerns our precious interest in Robotics..</p>


            </div>

        </div>

    </div>


</section>