{% load static %}
<div class="webbody section-1 backgd">

    <div class="container">

        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">

                <div class="counter d-flex align-items-start" data-aos="fade-up" data-aos-delay="">
                    <div class="icon-wrap"><span class="flaticon-roboto-logo"></span></div>
                    <div class="counter-text">
                        <h2 class="timer count-title count-number" data-to="442" data-speed="2500"></h2>
                        <span>Members</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="counter d-flex align-items-start" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon-wrap"><span class="flaticon-browser"></span></div>
                    <div class="counter-text">
                        <h2 class="timer count-title count-number" data-to="328" data-speed="3000"></h2>
                        <span>Daily<span class="space"> </span>Visitors</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">

                <div class="counter d-flex align-items-start" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-wrap"><span class="flaticon-roboto-logo"></span></div>
                    <div class="counter-text">
                        <h2 class="timer count-title count-number" data-to="47" data-speed="3000"></h2>
                        <span>Events<span class="space"> </span>Held</span>
                    </div>
                </div>

            </div>


            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="counter d-flex align-items-start" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon-wrap"><span class="flaticon-award"></span></div>
                    <div class="counter-text">
                        <h2 class="timer count-title count-number" data-to="76" data-speed="3000"></h2>
                        <span>Achievements</span>
                    </div>
                </div>
            </div>


        </div>
    </div>

</div>