{% load static %}
<section class="webbody galleryy" id="gallery-section">
    <div class="gallery-preview">

        <div class="contentgall">
            <h2 class="text">Gallery</h2>
            <p class="text">Let's see what we have in store for you.</p>

            <button class="explore text" type="submit" name="button">Explore <b id="arrow">&rarr;</b>
            </button>
        </div>

        <div class="image">

            <img src="images/robot.jpg" alt="">

        </div>

    </div>

    <div class="gallery-original">

        <div class="closesection">

            <button class="closebutton" type="submit" name="button"> X </button>

        </div>


        <div class="containergall">

            <div class="mySlides">

                <img src="images/img1.JPG" alt="">
            </div>

            <div class="mySlides">

                <img src="images/img2.JPG" alt="">
            </div>


            <div class="mySlides">

                <img src="images/img3.JPG" alt="">
            </div>

            <div class="mySlides">

                <img src="images/img4.JPG" alt="">
            </div>

            <div class="mySlides">

                <img src="images/img5.jpg" alt="">
            </div>

            <div class="mySlides">

                <img src="images/img6.jpg" alt="">
            </div>

            <div class="mySlides">

                <img src="images/img7.JPG" alt="">
            </div>

            <div class="mySlides">

                <img src="images/img8.jpeg" alt="">
            </div>

            <div class="mySlides">

                <img src="images/img9.jpeg" alt="">
            </div>

            <div class="mySlides">

                <img src="images/img10.jpeg" alt="">
            </div>

            <div class="mySlides">

                <video src="images/img11.mp4" muted loop autoplay poster="posterimage.jpg">

                </video>
            </div>

            <div class="mySlides">

                <img src="images/img12.jpg" alt="">
            </div>

            <div class="mySlides">

                <img src="images/img13.jpg" alt="">
            </div>

            <div class="mySlides">

                <img src="images/img14.jpg" alt="">
            </div>

            <div class="mySlides">

                <img src="images/img15.jpg" alt="">
            </div>


            <div class="mySlides">

                <img src="images/img16.jpg" alt="">
            </div>

            <div class="mySlides">

                <img src="images/img17.jpeg" alt="">
            </div>

            <div class="mySlides">

                <video src="images/img18.mp4" muted loop autoplay poster="posterimage.jpg">

                </video>
            </div>

            <div class="mySlides">

                <img src="images/img19.jpg" alt="">
            </div>
            <div class="mySlides">

                <img src="images/img20.jpg" alt="">
            </div>



            <a class="prev" onclick="plusSlides(-1)">❮</a>
            <a class="next" onclick="plusSlides(1)">❯</a>

            <div class="caption-container">
                <p id="caption"></p>
            </div>

            <div class="row">
                <div class="column">
                    <img class="demo cursor" src="images/img1.JPG" style="width:100%" onclick="currentSlide(1)" alt="">
                </div>
                <div class="column">
                    <img class="demo cursor" src="images/img2.JPG" style="width:100%" onclick="currentSlide(2)" alt="">
                </div>
                <div class="column">
                    <img class="demo cursor" src="images/img3.JPG" style="width:100%" onclick="currentSlide(3)" alt="">
                </div>
                <div class="column">
                    <img class="demo cursor" src="images/img4.JPG" style="width:100%" onclick="currentSlide(4)" alt="">
                </div>
                <div class="column">
                    <img class="demo cursor" src="images/img5.jpg" style="width:100%" onclick="currentSlide(5)" alt="">
                </div>
                <div class="column">
                    <img class="demo cursor" src="images/img6.jpg" style="width:100%" onclick="currentSlide(6)" alt="">
                </div>
                <div class="column">
                    <img class="demo cursor" src="images/img7.JPG" style="width:100%" onclick="currentSlide(7)" alt="">
                </div>
                <div class="column">
                    <img class="demo cursor" src="images/img8.jpeg" style="width:100%" onclick="currentSlide(8)" alt="">
                </div>
                <div class="column">
                    <img class="demo cursor" src="images/img9.jpeg" style="width:100%" onclick="currentSlide(9)" alt="">
                </div>
                <div class="column">
                    <img class="demo cursor" src="images/img10.jpeg" style="width:100%" onclick="currentSlide(10)"
                        alt="">
                </div>
                <div class="column">
                    <video class="demo cursor" src="images/img11.mp4" style="width:100%" muted loop autoplay
                        onclick="currentSlide(11)" alt=""></video>
                </div>
                <div class="column">
                    <img class="demo cursor" src="images/img12.jpg" style="width:100%" onclick="currentSlide(12)"
                        alt="">
                </div>
                <div class="column">
                    <img class="demo cursor" src="images/img13.jpg" style="width:100%" onclick="currentSlide(13)"
                        alt="">
                </div>
                <div class="column">
                    <img class="demo cursor" src="images/img14.jpg" style="width:100%" onclick="currentSlide(14)"
                        alt="">
                </div>
                <div class="column">
                    <img class="demo cursor" src="images/img15.jpg" style="width:100%" onclick="currentSlide(15)"
                        alt="">
                </div>
                <div class="column">
                    <img class="demo cursor" src="images/img16.jpg" style="width:100%" onclick="currentSlide(16)"
                        alt="">
                </div>
                <div class="column">
                    <img class="demo cursor" src="images/img17.jpeg" style="width:100%" onclick="currentSlide(17)"
                        alt="">
                </div>
                <div class="column">
                    <video class="demo cursor" src="images/img18.mp4" style="width:100%" muted loop autoplay
                        onclick="currentSlide(18)" alt=""></video> </div>
                <div class="column">
                    <img class="demo cursor" src="images/img19.jpg" style="width:100%" onclick="currentSlide(19)"
                        alt="">
                </div>
                <div class="column">
                    <img class="demo cursor" src="images/img20.jpg" style="width:100%" onclick="currentSlide(20)"
                        alt="">
                </div>
            </div>

        </div>


    </div>


</section>