{% load static %}
<header class="site-navbar js-sticky-header site-navbar-target">
    <span class="navcolor"><button class="barbutton" type="button" name="button"> <i class="fa fa-bars"
                aria-hidden="true"></i> </button>
        <div class="navButton-text" id="changetext">Home</div>
    </span>
    <button type="button" class="upevents" name="button">Upcoming Events</button>

    <nav class="navbar navbar-expand-lg navbar-light flex-column mynewnavbar" id="mynewnav">




        <div class="navlist " id="navbarNav">
            <ul class="navbar-nav flex-column ">
                <li class="nav-item">
                    <button type="button" class="navclose" name="button">&#x2190;</button>
                </li>


                <li class="nav-item">
                    <button type="button" class="butt but1" name="button"><a class="nav-link" href="#home-section">
                            Home</a></button>
                </li>

                <li class="nav-item">
                    <button type="button" class="butt but2" name="button"> <a class="nav-link" href="#aboutus">About
                            Us</a></button>
                </li>

                <li class="nav-item">
                    <button type="button" class="butt but3" name="button"><a class="nav-link"
                            href="#project-section">Projects</a></button>
                </li>
                <li class="nav-item">
                    <button type="button" class="butt but4" name="button"><a class="nav-link"
                            href="#schedule-section">Schedule</a></button>
                </li>
                <li class="nav-item">
                    <button type="button" class="butt but5" name="button"><a class="nav-link "
                            href="#achievement-section">Achievements</a></button>
                </li>
                <li class="nav-item">
                    <button type="button" class="butt but6" name="button"><a class="nav-link "
                            href="#ourteam-section">Team</a></button>
                </li>
                <li class="nav-item">
                    <button type="button" class="butt but7" name="button"><a class="nav-link"
                            href="#gallery-section">Gallery</a></button>
                </li>
                <li class="nav-item">
                    <button type="button" class="butt but9" name="button"><a class="nav-link"
                            href="#contact-section">Contact</a></button>
                </li>
                <li class="nav-item">
                    <button type="button" class="butt but8" name="button"><a class="nav-link"
                            href="#sponsorslider">Sponsors</a></button>
                </li>
                <br>

            </ul>
        </div>
    </nav>

</header>