{% load static %}

<div class="webbody vidback" id="home-section">
    <div class="fullscreen-video-wrap">
        <video src="{% static 'images/vid1234.mp4' %}" autoplay="true" loop="true" muted="true">

        </video>
        <img src="{% static 'images/battlebots.jpg' %}" alt="">

    </div>
    <div class="content">

        <h1 class="ml15">
            <span class="word wordr">ROBOTICS</span>
            <span class="word">CLUB</span>
            <span class="word">IIITDM</span>
            <span class="word">JABALPUR</span>
        </h1>
        <a href="#aboutus"> <button type="button" class="word121" name="button">&#8595;</button> </a>
        <p class="word121">Explore</p>

    </div>
</div>