{% load static %}
<div class="webbody site-section" id="ourteam-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" align="center">
                <h2 class="section-title">Our Team</h2>
                <p class="para">A work never gets accomplished if it is not done in a team spirit. Each of the member
                    associated with the club is important in upliftinf of the club. However, here we have some of the
                    majoy
                    members who has been running the club successful for a long time.</p>
            </div>
        </div>

    </div>
</div>

<section class="webbody">

    <div class="aboutcards fade-in">



        <div class="container">

            <div class="card">

                <div class="img-box">
                    <img src="images/tanuja-maam.jpg" alt="">
                </div>

                <div class="content">
                    <h2>Dr. Tanuja Sheorey<br><span> Faculty Incharge </span></h2>
                    <p>The most supporting faculty member of the club</p>


                    <ul>
                        <li><a href="http://faculty.iiitdmj.ac.in/faculty/tanush" target="_blank"><i
                                    class="fab fa-facebook" aria-hidden="true"></i></a></li>


                        <li><a href="http://faculty.iiitdmj.ac.in/faculty/tanush" target="_blank"><i
                                    class="fab fa-linkedin" aria-hidden="true"></i></a></li>

                        <li><a href="http://faculty.iiitdmj.ac.in/faculty/tanush"><i class="fas fa-phone"
                                    aria-hidden="true"></i></a></li>

                    </ul>

                </div>

            </div>

            <div class="card">

                <div class="img-box">
                    <img src="images/aman-co.jpeg" alt="">
                </div>

                <div class="content">
                    <h2>Aman Singhal<br><span> Cordinator </span></h2>
                    <p>The team guide and mentor</p>


                    <ul>
                        <li><a href="https://www.facebook.com/amansinghal999" target="_blank"><i class="fab fa-facebook"
                                    aria-hidden="true"></i></a></li>

                        <li><a href="https://www.linkedin.com/in/aman-singhal-4a4498164" target="_blank"><i
                                    class="fab fa-linkedin" aria-hidden="true"></i></a></li>

                        <li><a href="tel:8930700102" data-toggle="popover" title="Contact on: 8930700102"><i
                                    class="fas fa-phone" aria-hidden="true"></i></a></li>
                    </ul>

                </div>

            </div>


            <div class="card">

                <div class="img-box">
                    <img src="images/ayush-mishra-coco.jpg" alt="">
                </div>

                <div class="content">
                    <h2>Ayush Mishra<br><span> Co-Cordinator </span></h2>
                    <p>The helping hand</p>


                    <ul>
                        <li><a href="https://www.facebook.com/ayushman.mishra.397501" target="_blank"><i
                                    class="fab fa-facebook" aria-hidden="true"></i></a></li>

                        <li><a href="https://www.linkedin.com/in/ayush-mishra-a71688127/" target="_blank"><i
                                    class="fab fa-linkedin" aria-hidden="true"></i></a></li>

                        <li><a href="tel:8529458915" data-toggle="popover" title="Contact on: 8529458915"><i
                                    class="fas fa-phone" aria-hidden="true"></i></a></li>
                    </ul>

                </div>

            </div>

            <div class="card">

                <div class="img-box">
                    <img src="images/ayus-gupta.jpeg" alt="">
                </div>

                <div class="content">
                    <h2>Ayush Gupta<br><span>Co-Cordinator</span></h2>
                    <p>The helping hand</p>


                    <ul>
                        <li><a href="https://www.facebook.com/profile.php?id=100007277046533" target="_blank"><i
                                    class="fab fa-facebook" aria-hidden="true"></i></a></li>

                        <li><a href="https://www.linkedin.com/in/ayush-gupta-a375ab171" target="_blank"><i
                                    class="fab fa-linkedin" aria-hidden="true"></i></a></li>

                        <li><a href="tel:+919519161620" data-toggle="popover" title="Contact on: 9519161620"
                                target="_blank"><i class="fas fa-phone" aria-hidden="true"></i></a></li>
                    </ul>

                </div>

            </div>
        </div>
    </div>
</section>