{% load static %}
<div class="upcoming">

    <button type="button" class="upclose" name="button">CLOSE</button>

    <div class="blank">

        <div class="upc" align="center">

            <div class="upcir">

            </div>

            <div class="">
                <h3>Upcoming Events</h3>
            </div>

        </div>

        <div class="pas" align="center">

            <div class="pascir">

            </div>

            <div class="">
                <h3>Past Events</h3>
            </div>

        </div>

    </div>

    <div class="hea">

        <h1>Upcoming Events</h1>
    </div>

    <div class="future">

        <div class="evecard">

            <div class="eveimage">
                <img src="{% static 'images/upcom4.jpg' %}" alt="">
            </div>
            <div class="evecontent">
                <h3>RoboSoccer</h3>
                <p>To be held on September 1, 2019.</p>
            </div>

        </div>

        <div class="evecard">

            <div class="eveimage">
                <img src="images/edo.JPG" alt="">
            </div>
            <div class="evecontent">
                <h3>Workshop by EdoSquare</h3>
                <p>1/10/2019 - 3/10/2019</p>
            </div>

        </div>


        <div class="evecard">

            <div class="eveimage">
                <img src="images/upcom6.jpg" alt="">
            </div>
            <div class="evecontent">
                <h3>Line Following Robot</h3>
                <p>To be held on October 27, 2019.</p>
            </div>

        </div>

        <div class="evecard">

            <div class="eveimage">
                <img src="images/robo.jpg" alt="">
            </div>
            <div class="evecontent">
                <h3>Robothon</h3>
                <p>To be held in November 2019.</p>
            </div>

        </div>

        <div class="evecard">

            <div class="eveimage">
                <img src="images/hexrace.jpg" alt="">
            </div>
            <div class="evecontent">
                <h3>Hexabot Race</h3>
                <p>To be held in January 2020.</p>
            </div>

        </div>



    </div>

    <div class="hea">

        <h1>Past Events</h1>
    </div>



    <div class="past">

        <div class="evecard">

            <div class="eveimage">
                <img src="images/upcom3.jpg" alt="">
            </div>
            <div class="evecontent">
                <h3>RoboWar</h3>
                <p>Was held in March 2019.</p>
            </div>



        </div>
        <div class="evecard">

            <div class="eveimage">
                <img src="images/upcom5.jpg" alt="">
            </div>
            <div class="evecontent">
                <h3>RoboThon</h3>
                <p>Was held in March 2019.</p>
            </div>


        </div>

        <div class="evecard">
            <div class="eveimage">
                <img src="images/robocop.jpg" alt="">
            </div>
            <div class="evecontent">
                <h3>RoboCop</h3>
                <p>Was held in February 2019.</p>
            </div>
        </div>

        <div class="evecard">

            <div class="eveimage">
                <img src="images/upcom2.jpg" alt="">
            </div>
            <div class="evecontent">
                <h3>Line Following Robot</h3>
                <p>Was held in November 2018.</p>
            </div>

        </div>


        <div class="evecard">

            <div class="eveimage">
                <img src="images/upcom1.jpg" alt="">
            </div>
            <div class="evecontent" align="center">
                <h3>RoboSoccer</h3>
                <p>Was held in September 2018.</p>
            </div>


        </div>




    </div>

</div>