{% load static %}

<div class="webbody site-section bg-dark" id="contact-section">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-md-7">



                <h2 class="section-title mb-3">Contact Us</h2>
                <p class="mb-5" style="font-size:1.3rem">We at the technical club would love to hear from you. Write
                    down
                    all your queries, doubts or appreciation. We welcome all with equal vision and opne arms...</p>

                <form method="post">
                    <div class="form-group row">
                        <div class="col-md-6 mb-3 mb-lg-0">
                            <input type="text" class="form-control" placeholder="First name">
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Last name">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-12">
                            <input type="text" class="form-control" placeholder="Subject">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-12">
                            <input type="email" class="form-control" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <textarea class="form-control" id="" cols="30" rows="5"
                                placeholder="Write your message here."></textarea>
                        </div><br>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-6">

                            <input type="submit" class="btn btn-primary py-3 px-5 btn-block" value="Send Message">
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>