{% load static %}
<div class="webbody site-section section-2" id="schedule-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-5" align="center">
                <h2 class="section-title">Schedule</h2>
                <p class="para" style="font-size:1.3rem">It is always better to make the plan before executing it. So
                    here
                    we presnt you the monthly planner to help you give early start.</p>
            </div>
        </div>
        <h1 style="text-align: center;">August Month</h1>
        <table>
            <tr>
                <th>EVENTS</th>
                <th>WEEK</th>

            </tr>
            <tr>
                <td>Orientation</td>

                <td>1st Week</td>
            </tr>
            <tr>
                <td>Club Introduction Session</td>

                <td>2nd week</td>
            </tr>
            <tr>
                <td>First Working Session</td>

                <td>3rd week</td>
            </tr>
            <tr>
                <td>To be Updated</td>

                <td>4th week</td>
            </tr>

        </table>

    </div>
</div>