{% load static %}

<div class="webbody site-section section-2" id="achievement-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-5" align="center">
                <h2 class="section-title">When Glory Knocks Your Door!!</h2>
                <p class="para" style="font-size:1.3rem">We at Robotics Club not only say but also prove ourselves at
                    various platform we perform. The hard work we put consistently comes out as a victory by bringing
                    pride to
                    the IIITDMJ institute as well.</p>
            </div>
        </div>

    </div>
    <div class="owl-carousel nonloop-block-13">

        <a class="work-thumb">
            <div class="work-text">
                <h3>LFR at Inter IIIT</h3>
                <p class="category">Completed the task by implementing Proportional <br> Integral Derivative Algorithm
                    at
                    Inter IIIT Fest.</p>
            </div>
            <img src="images/Lfrinter.jpg" alt="Image" class="img-fluid">
        </a>

        <a class="work-thumb">
            <div class="work-text">
                <h3>Success at E-YANTRA</h3>
                <p class="category">Completed all the tasks at E-YANTRA.</p>
            </div>
            <img src="images/eyantra.jpg" alt="Image" class="img-fluid">
        </a>

        <a class="work-thumb">
            <div class="work-text">
                <h3>RoboWar at IIIT Delhi</h3>
                <p class="category">We were the SemiFinalists of the national <br> Robowar event organized at IIIT
                    Delhi.
                </p>
            </div>
            <img src="images/robosemi.jpg" alt="Image" class="img-fluid">
        </a>

        <a class="work-thumb">
            <div class="work-text">
                <h3>LFR at IIIT Delhi</h3>
                <span class="category">In ESYA-18 our team participated in the LFR <br> event and reached the SemiFinals
                    leaving behind <br> 77 other teams.</span>
            </div>
            <img src="images/iiitdelhi.jpeg" alt="Image" class="img-fluid">
        </a>

        <a class="work-thumb">
            <div class="work-text">
                <h3>Robowar at Hitkarni College</h3>
                <p class="category">We Won the Robowar at Hitkarni college of Engineering Jabalpur.</p>
            </div>
            <img src="images/robowarfinal.jpg" alt="Image" class="img-fluid">
        </a>

        <a class="work-thumb">
            <div class="work-text">
                <h3>TechFest IIT Bombay 2018</h3>
                <span class="category">Our team had participated in operation Rahat which <br> was a Quadcopter
                    event.</span>
            </div>
            <img src="images/rahat.jpeg" alt="Image" class="img-fluid">
        </a>
    </div>

</div>